{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}
    <h1 class="h2">GrowBook Events</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>Value</th>
            <th>Note</th>
            <th>actions</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                {#<td>{{ event.type | parseType }}</td>#}
                <td>{{ event.type  }}</td>
                {% if event.sensor.id is defined %}
                    <td>S|{{ event.sensor.name }}</td>
                {% else %}
                    <td>{{ event.name }}</td>
                {% endif %}
                <td>{{ event.value }}</td>
                <td>{{ event.note }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id, 'type': event.type }) }}">show</a>
                    {#<a href="{{ path('events_event_temperature_edit', {'id': event.id}) }}">edit</a>#}
                </td>
                <td>{{ event.createdAt ? event.createdAt|date('Ymd H:i:s') : '' }}</td>
                <td>{{ event.updatedAt ? event.updatedAt|date('Ymd H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>
    <a href="{{ path('event_new') }}">Create new</a>
{% endblock %}
