{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}
    <h3>Events {{ events | length }}</h3>
    <a href="{{ path('event_new') }}">Create new</a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Name</th>
            <th>Sensor</th>
            <th>Value</th>
            <th>Note</th>
            <th>actions</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
        </tr>
        </thead>
        <tbody>

        {% for event in events | slice(0, 500)%}
            <tr>
                <td>{{ event.id }}</td>
                {#<td>{{ event.type | parseType }}</td>#}
                <td title="{{ event.type }}"><a href="{{ path('event_show', {'id': event.id, 'type': event.type }) }}">{{ event.type | parseType  }}</a></td>
                <td>{{ event.name }}</td>
                <td>
                {% if event.sensor.id is defined %}
                        <a href="{{ path('sensor_show', {'id': event.sensor.id}) }}" target="_blank">->S|{{ event.sensor.name }}</a>
                {% else %}
                    No Sens
                {% endif %}
                </td>
                <td>{{ event.value }}</td>
                <td>{{ event.note }}</td>
                <td>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                </td>
                <td>{{ event.createdAt ? event.createdAt|date('Ymd H:i:s') : '' }}</td>
                <td>{{ event.updatedAt ? event.updatedAt|date('Ymd H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>

{% endblock %}
