
{% extends 'base.html.twig' %}

{% block title %}Plants{% endblock %}

{% block body %}
    temperature
{% for i in range(0, 100, 5) %}
    <span class="badge {{ temperatureToBadge(i)}}">{{ i }}  &#8451;</span>
{% endfor %}
    <br/>


    humidityToBadge
    {% for i in range(0, 100, 5) %}
        <span class="badge {{ humidityToBadge(i)}}">{{ i }}  %</span>
    {% endfor %}
    <br/>

    hydrometerToBadge
    {% for i in range(0, 100, 5) %}
        <span class="badge {{ hydrometerToBadge(i)}}">{{ i }}  %</span>
    {% endfor %}
    <br/>

    lightToBadge
    {% for i in range(0, 1, 1) %}
        <span class="badge {{ lightToBadge(i)}}">{{ i }}</span>
    {% endfor %}
    <br/>
{% endblock %}
