
{% extends 'base.html.twig' %}

{% block title %}Plants{% endblock %}

{% block body %}
    Temperature C
{% for i in range(0, 40, 1) %}
    <span class="badge {{ temperatureToBadge(i)}}">{{ i }}  &#8451;</span>
{% endfor %}
    <br/>


    Humidity 50-80%
    {% for i in range(0, 100, 1) %}
        <span class="badge {{ humidityToBadge(i)}}">{{ i }}  %</span>
    {% endfor %}
    <br/>

    Humidity 30-50%
    {% for i in range(0, 100, 1) %}
        <span class="badge {{ humidityToBadge(i, 2)}}">{{ i }}  %</span>
    {% endfor %}
    <br/>

    Hydrometer %
    {% for i in range(0, 100, 1) %}
        <span class="badge {{ hydrometerToBadge(i)}}">{{ i }}  %</span>
    {% endfor %}
    <br/>

    lightToBadge
    {% for i in range(0, 1, 1) %}
        <span class="badge {{ lightToBadge(i)}}">{{ i }}</span>
    {% endfor %}
    <br/>
{% endblock %}
