{% extends 'base.html.twig' %}

{% block title %}Sensors list{% endblock %}

{% block body %}
    <h4>Sensors</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Plant</th>
                <th>Type</th>
                <th>Events</th>
                <th>TH</th>
                <th>Force</th>
                <th>UniqId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td><a href="{{ path('sensor_show', {'id': sensor.id}) }}">{{ sensor.name }}</a></td>
                <td>{% if sensor.plant.id is defined %}<a href="{{ path('plant_show', {'id': sensor.plant.id}) }}">{{ sensor.plant.name }}</a>{% endif %}</td>
                <td>{{ sensor.eventType | parseType }}</td>
                <td>{{ sensor.events | length }}</td>
                <td>{{ sensor.diffThreshold }}</td>
                <td>{{ sensor.writeForceEveryXseconds }}</td>
                <td>{{ sensor.uniqId }}</td>
                <td>
                    {% if is_granted('edit', sensor.plant) %}
                        <a href="{{ path('sensor_edit', {'id': sensor.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sensor_new') }}">Create new</a>
{% endblock %}
