{% extends 'base.html.twig' %}

{% block title %}Event Fertilizing{% endblock %}

{% block body %}
    <h1>Fertilizing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>
                    {% for x in event_fertilize.fertilizer %}
                        {{ x }}<br/>
                    {% endfor %}
                </th>
                <td>
                    Amount:
                    {{ event_fertilize.amount }}
                </td>
            </tr>
            <tr>
                <th>Water</th>
                <td>{{ event_fertilize.water }}</td>
            </tr>
            <tr>
                <th>Ph</th>
                <td>{{ event_fertilize.ph }}</td>
            </tr>
            <tr>
                <th>Tds</th>
                <td>{{ event_fertilize.tds }}</td>
            </tr>
            <tr>
                <th>Ec</th>
                <td>{{ event_fertilize.ec }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ event_fertilize.temperature }}</td>
            </tr>

            <tr>
                <th>Id</th>
                <td>{{ event_fertilize.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ event_fertilize.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ event_fertilize.createdAt ? event_fertilize.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ event_fertilize.updatedAt ? event_fertilize.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ event_fertilize.type }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ event_fertilize.value }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ event_fertilize.note }}</td>
            </tr>
            <tr>
                <th>Value1</th>
                <td>{{ event_fertilize.value1 }}</td>
            </tr>
            <tr>
                <th>Value2</th>
                <td>{{ event_fertilize.value2 }}</td>
            </tr>
            <tr>
                <th>Value3</th>
                <td>{{ event_fertilize.value3 }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ event_fertilize.ip }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('events_event_fertilize_index') }}">back to list</a>

    <a href="{{ path('events_event_fertilize_edit', {'id': event_fertilize.id}) }}">edit</a>

    {{ include('events/event_fertilize/_delete_form.html.twig') }}
{% endblock %}
