{% extends 'base.html.twig' %}

{% block title %}Plants list{% endblock %}

{% block body %}
    <h4>Plants</h4>

    <table class="table table-hover table-striped table-condensed tasks-table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>StartedAt</th>
                <th>FinishedAt</th>
                <th>Uptime</th>
                <th>Resets</th>
                <th>Rssi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
            <tr>
                <td><a href="{{ path('plant_show', {'id': plant.id}) }}">{{ plant.id }}</a></td>
                <td><a href="{{ path('plant_show', {'id': plant.id}) }}">{{ plant.name }}</a></td>
                <td title="{{ plant.createdAt ? plant.createdAt|date('Y-m-d H:i:s') : '' }}">{{ plant.createdAt ? plant.createdAt|time_diff : '' }}</td>
                <td title="{{ plant.createdAt ? plant.updatedAt|date('Y-m-d H:i:s') : '' }}">{{ plant.updatedAt ? plant.updatedAt|time_diff : '' }}</td>
                <td title="{{ plant.createdAt ? plant.startedAt|date('Y-m-d H:i:s') : '' }}">{{ plant.startedAt ? plant.startedAt|time_diff : '' }}</td>
                <td title="{{ plant.createdAt ? plant.finishedAt|date('Y-m-d H:i:s') : '' }}">{{ plant.finishedAt ? plant.finishedAt|time_diff : '' }}</td>
                <td title="">{{ plant.uptime }}</td>
                <td title="">{{ plant.resetCounter }}</td>
                <td title="">{{ plant.Rssi }}</td>
                <td>
                    <a href="{{ path('plant_edit', {'id': plant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plant_new') }}">Create new</a>
{% endblock %}
