<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <h5>Sensors {{ plant.sensors | length }}</h5>
                <hr/>
                {% apply spaceless %}
                    <table class="table table-hover table-striped table-condensed tasks-table table-bordered">
                        <thead>
                        <tr>
                            {#            <th>ID</th>#}
                            <th style="width: 50px;"></th>
                            <th style="width: 220px;">Name</th>
                            <th style="width: 100px;">Last Value</th>
                            <th style="width: 150px;">Value1</th>
                            <th style="width: 150px;">Value2</th>
                            <th style="width: 150px;">Value3</th>
                            <th>Last Time</th>
                            <th title="Events count">Count</th>
                            <th title="Threshold">TH</th>
                            <th title="Force update every(seconds)">Force</th>
                            <th>Type</th>

                            {#                <th>UniqID</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for sensor in plant.sensors | slice(0, 100)%}
                            {% set type = sensor.eventType | parseType  %}
                            {% set _have_last = false %}
                            {% set _created = '' %}
                            {% if sensor.supportEvents and sensor.lastEvent is defined and sensor.lastEvent.value is defined%}
                                {% set _have_last = true %}
                                {% set _created = sensor.lastEvent.happenedAt %}
                            {% endif %}
                            <tr>
                                {#                <td style="font-size: 10px;">{{ sensor.id }}</td>#}
                                <td>
                                    {% if type == 'Humidity' %}
                                        <i class="ace-icon fa fa-cloud grey"></i>
                                    {% elseif type == 'Temperature' %}
                                        <i class="ace-icon fa fa-asterisk blue"></i>
                                    {% elseif type == 'SoilHydrometer' %}
                                        <i class="ace-icon fa fa-inbox brown"></i>
                                    {% else %}
                                        <i class="ace-icon fa fa-circle-o"></i>
                                    {% endif %}

                                </td>
                                <td><a title="{{ sensor.id }}" style="font-size: 12px;" href="{{ path('sensor_show', {'id': sensor.id}) }}">{{ sensor.name }}</a></td>
                                <td>
                                    {% if _have_last == true %}
                                        {% set _value = sensor.lastEvent.value %}
                                        {% if type == 'Humidity' %}
                                            <span class="badge {{ humidityToBadge(_value)}}">{{ _value }} %</span>
                                        {% elseif type == 'Temperature' %}
                                            <span class="badge badge-pill {{ temperatureToBadge(_value)}}">{{ _value }} &#8451;</span>
                                        {% elseif type == 'SoilHydrometer' %}
                                            <span class="badge badge-pill {{ hydrometerToBadge(_value)}}">{{ _value }} %</span>
                                        {% else %}
                                            {{ _value }}
                                        {% endif %}
                                        {#                        {% set _value3 = sensor.lastEvent.value3 %}#}
                                        {#                        {% if _value3 is not null %}#}
                                        {#                            <span class="badge  badge-pill badge-dark">{{ _value3 }}</span>#}
                                        {#                            {% if type == 'Humidity' %}#}
                                        {#                                Heat index#}
                                        {#                            {% endif %}#}
                                        {#                        {% endif %}#}
                                    {% endif %}
                                </td>
                                <td class="font10">
                                    {% if sensor.lastEvent.value1 is defined %}
                                        {% set _value1 = sensor.lastEvent.value1 %}
                                        {% if _value1 is not null %}
                                            {% if type == 'Humidity' %}
                                                <span title="Absolute Humidity" class="badge badge-pill {{ humidityToBadge(_value1)}}">{{ _value1 }} %</span>
                                                {% set res = _value - _value1 %}
                                                <span title="(Humidity-Absolute humidity)" class="badge badge-pill {{ humidityToBadge(res)}}">{{ res }} %</span>
                                            {% else %}
                                                <span class="badge  badge-pill badge-dark">{{ _value1 }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="font10">
                                    {% if sensor.lastEvent.value2 is defined %}
                                        {% set _value2 = sensor.lastEvent.value2 %}
                                        {% if _value2 is not null %}
                                            {% if type == 'Humidity' %}
                                                <span title="Temperature" class="badge badge-pill {{ temperatureToBadge(_value2)}}">{{ _value2 }} &#8451;</span>
                                            {% else %}
                                                <span class="badge  badge-pill badge-dark">{{ _value2 }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="font10">
                                    {% if sensor.lastEvent.value3 is defined %}
                                        {% set _value3 = sensor.lastEvent.value3 %}
                                        {% if _value3 is not null %}
                                            {% if type == 'Humidity' %}
                                                <span title="Heat Index" class="badge badge-pill {{ temperatureToBadge(_value3)}}">{{ _value3 }} &#8451;</span>
                                            {% else %}
                                                <span class="badge  badge-pill badge-dark">{{ _value3 }}</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                </td>
                                <td title="{{ _created | date('Y-m-d H:i:s')}} " style="font-size: 10px;">
                                    {% if _have_last %}
                                        {{ _created | time_diff}} ({{ sensor.lastEvent.ip }})
                                    {% endif %}
                                </td>
                                <td style="font-size: 10px;">{{ sensor.events | length }}</td>
                                <td style="font-size: 10px;">{{ sensor.diffThreshold }}</td>
                                <td style="font-size: 10px;">{{ sensor.writeForceEveryXseconds }}</td>
                                <td><span title="{{ type }}" style="font-size: 10px;">{{ type | SensorTypeShort }}</span></td>

                                {#                <td style="font-size: 10px;">{{ sensor.uniqId }}</td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endapply %}
            </div><!-- /.col -->

    </div><!-- /.col -->
</div>
