<h5>Events without sensor | All events count {{ plant.events | length }}</h5>
<hr/>
{% apply spaceless %}
    <table class="table table-hover table-striped table-condensed tasks-table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Time</th>
            <th>Time</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for event in plant.events %}
            {% if counter > 1000 %}
            {% else %}
                {% if event.sensor is none %}
                    {% set counter = counter+1 %}
                    {% set type = event.type | parseType %}
                    <tr>
                        {% if type == "Feed"  %}{% set _url = path('events_event_feed_show', {'id': event.id}) %}
                        {% else %}{% set _url = path('event_show', {'id': event.id}) %}{% endif %}
                        <td title="{{ event.note }}"><a href="{{ _url }}">{{ event.name | length > 0 ? event.name : event.id}}</a></td>
                        <td>{% if type == "Feed"  %}
                                {{ event.water }} | Ph: {{ event.ph }} | TDS/EC: {{ event.tds }}/{{ event.ec }}
                            {% else %}
                                {{ event.value }}
                            {% endif %}
                        </td>
                        <td>{{ event.happenedAt | time_diff }}</td>
                        <td title="{{ event.happenedAt | date('Y/m/d H:i:s') }}">{{ event.happenedAt | date('d H:i') }}</td>
                        <td>{{ event.type | parseType }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endapply %}
