<h5>Events without sensor | All events count {{ plant.events | length }}</h5>
<hr/>
{% apply spaceless %}
<div class="table-responsive-lg">
    <table id="feedEventTable" class="display nowrap" style="width:100%">
        <thead>
        <tr>
            <th style="font-size: 8px;">ID</th>
            <th>Day</th>
            <th>Week</th>
            <th>Flower</th>
            <th>Water</th>
            <th>TDS</th>
            <th>EC</th>
            <th>PH</th>
            <th>Value</th>
            <th>Name</th>
            <th>Note</th>
            <th>Time 1</th>
            <th>Time 2</th>
            <th style="width: 0%;">Type</th>
        </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for event in plant.events %}
            {% if counter > 1000 %}
            {% else %}
                {% if event.sensor is none %}
                    {% set counter = counter+1 %}
                    {% set type = event.type | parseType %}
                    <tr>
                        {% if type == "Feed"  %}{% set _url = path('events_event_feed_show', {'id': event.id}) %}{% else %}{% set _url = path('event_show', {'id': event.id}) %}{% endif %}
                        <td style="font-size: 9px;"><a href="{{ _url }}">{{ event.id }}</a></td>
                        <td class="bolder">{{ event.day(plant) }}</td>
                        <td {% if event.inFlower %} class="brown bolder" title="Flowering week {{ event.weekInFlower(plant) }}" {% else %}  style="background-color: #dff0d8;"  {% endif %}>{{ event.week(plant) }}</td>
                        <td>{% if event.inFlower %} {{ event.dayInFlower(plant) }} / {{ event.weekInFlower(plant) }}{% else %}  - / -{% endif %}</td>
                        <td>{% if type == "Feed"  %}<span class="blue bolder">{{ event.water }}</span>{% endif %}
                        </td>
                        <td>{% if type == "Feed"  %}<span class="blue">{{ event.tds }}</span>{% endif %}
                        </td>
                        <td>{% if type == "Feed"  %}<span class="grey">{{ event.ec }}</span>{% endif %}
                        <td>{% if type == "Feed"  %}<span style="color: {{ phToFontColor(event.ph) }}">{{ event.ph }}</span>{% endif %}

                        <td>{% if type == "Feed"  %} {% else %}{{ event.value }}{% endif %}
                        </td>
                        <td><a href="{{ _url }}">{{ event.name | length > 0 ? event.name : event.id}}</a></td>
                        <td>{{ event.note }}</td>
                        <td>{{ event.happenedAt | time_diff }}</td>
                        <td title="{{ event.happenedAt | date('Y/m/d H:i:s') }}">{{ event.happenedAt | date('d H:i') }}</td>
                        <td>{{ event.type | parseType }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endapply %}


<script>
    $(document).ready(function() {
        $('#feedEventTable').DataTable( {
            columnDefs: [
                {
                    targets: [ 0 ],
                    searchable: false,
                    width: 20
                },
                {
                    targets: [ 1, 2, 3, 4, 5, 6, 7, 8],
                    width: 50
                },
                {
                    targets: [ 11, 12 ],
                    searchable: false,
                    width: 50
                },
                {
                    targets: [ 13],
                    visible: false
                }
            ],
            "pageLength": 25,
            order: [[0, 'desc']],
            rowGroup: {
                endRender: function ( rows, group ) {
                    var TdsRatio = 0;
                    var PhRatio = 0;
                    rows.data().each(
                        function ( group, i ) {
                            var water = $(group[4]).text();
                            var tds = $(group[5]).text();
                            var ph = $(group[7]).text();
                            TdsRatio += water * tds;
                            PhRatio += water * ph;
                        }
                    );
                    var amountOfWater = rows
                        .data()
                        .pluck(4)
                        .reduce( function (a, b) {
                            return a + $(b).text().replace(/[^\d|\.]/g, '')*1;
                        }, 0);

                    var phValue = PhRatio/amountOfWater;
                    var phVColor = 'label-success';
                    if (phValue < 5.7 || phValue > 6.4) {
                        phVColor = 'label-info';
                    }
                    if (phValue < 5.5 || phValue > 6.5) {
                        phVColor = 'label-danger';
                    }
                    return 'Week ['+group+'] ' +
                        'Liters: <strong class="green">'+  $.fn.dataTable.render.number(',', '.', 1, ' ').display(amountOfWater) + ' L</strong>' +
                        ' - ' +
                        '<strong>Total TDS</strong> <strong class="blue">'  + $.fn.dataTable.render.number(',', '.', 0, '').display(TdsRatio) + ' PPM</strong>' +
                        ' - ' +
                        '<strong>EC</strong> <strong class="brown">'  + $.fn.dataTable.render.number(',', '.', 1, '').display(TdsRatio*2/amountOfWater/1000) + ' AVG</strong>' +
                        ' - ' +
                        '<span class="label ' + phVColor + ' label-white middle">PH ' + $.fn.dataTable.render.number(',', '.', 2, '').display(phValue) + '</span> AVG' +
                        '';
                },
                dataSrc: 2
            }
        } );
    } );
</script>
