{% apply spaceless %}
    <table class="table table-hover table-striped table-condensed tasks-table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Property</th>
            <th>Value</th>
            <th>Type</th>
            <th>ObjectHostId</th>
            <th>ObjectHostType</th>
            <th>Updated</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for cf in customFields %}
            {% if counter > 1000 %}
            {% else %}
                {% set counter = counter+1 %}
                <tr>
                    <td><a href="{{ path('custom_field_show', {'id': cf.id}) }}">{{ cf.id }}</a></td>
                    <td>{{ cf.property }}</td>
                    <td>{{ cf.propertyValue }}</td>
                    <td>{{ cf.propertyValueType }}</td>
                    <td>{{ cf.objectHostId }}</td>
                    <td>{{ cf.objectHostType }}</td>
                    <td>{{ cf.updatedAt | date('d/m H:i:s') }}</td>
                    <td>{{ cf.createdAt | date('d/m H:i') }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endapply %}
