<h5>Events without sensor | All events count {{ plant.events | length }}</h5>
<hr/>
{% apply spaceless %}
<div class="table-responsive-lg">
    <table id="feedEventTable" class="table table-hover table-striped table-condensed tasks-table table-bordered " data-classes="table table-no-bordered"
               id="cycleTestsTable" data-pagination="true" data-search="true" data-toggle="table"
               data-page-size="2000" data-page-list="[10, 15, 20, 50, 100, 500, 1000, 2000, 5000, 10000, 50000, 'ALL']" data-sort-order="desc"
               data-toolbar="#cycleShowToolbar"
               data-show-refresh="true"
            {#data-show-toggle="true"#}
               data-show-footer="true"
               data-show-export="true"
               data-show-columns="true"
               data-advanced-search="true"
               data-id-table="advancedTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Day</th>
            <th>Week</th>
            <th>Flower</th>
            <th>Name</th>
            <th>Note</th>
            <th>Water</th>
            <th>TDS</th>
            <th>Value</th>
            <th>Time 1</th>
            <th>Time 2</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for event in plant.events %}
            {% if counter > 1000 %}
            {% else %}
                {% if event.sensor is none %}
                    {% set counter = counter+1 %}
                    {% set type = event.type | parseType %}
                    <tr>
                        {% if type == "Feed"  %}{% set _url = path('events_event_feed_show', {'id': event.id}) %}
                        {% else %}{% set _url = path('event_show', {'id': event.id}) %}{% endif %}
                        <td>{{ event.id }}</td>
                        <td>{{ event.day(plant) }}</td>
                        <td>{{ event.week(plant) }}</td>
                        <td>{% if event.inFlower %} {{ event.dayInFlower(plant) }} / {{ event.weekInFlower(plant) }} {% endif %}</td>
                        <td><a href="{{ _url }}">{{ event.name | length > 0 ? event.name : event.id}}</a></td>
                        <td>{{ event.note }}</td>
                        <td>{% if type == "Feed"  %}
                                {{ event.water }}
                            {% endif %}
                        </td>
                        <td>{% if type == "Feed"  %}
                                {{ event.tds }}
                            {% endif %}
                        </td>
                        <td>{% if type == "Feed"  %}
                                Ph: {{ event.ph }} | EC:{{ event.ec }}
                            {% else %}
                                {{ event.value }}
                            {% endif %}
                        </td>
                        <td>{{ event.happenedAt | time_diff }}</td>
                        <td title="{{ event.happenedAt | date('Y/m/d H:i:s') }}">{{ event.happenedAt | date('d H:i') }}</td>
                        <td>{{ event.type | parseType }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endapply %}


<script>
    $(document).ready(function() {
        $('#feedEventTable').DataTable( {
            "columnDefs": [
                {
                    "targets": [ 9, 10 ],
                    "searchable": false
                },
                {
                    "targets": [ 11 ],
                    "visible": false
                }
            ],
            order: [[0, 'desc']],
            rowGroup: {
                endRender: function ( rows, group ) {
                    var ratio = 0;
                    rows.data().each(
                        function ( group, i ) {
                            var water = group[6];
                            var tds = group[7];
                            ratio += water * tds;
                        }
                    );
                    var amountOfWater = rows
                        .data()
                        .pluck(6)
                        .reduce( function (a, b) {
                            return a + b.replace(/[^\d|\.]/g, '')*1;
                        }, 0);
                    return 'Week ['+group+'] '+  $.fn.dataTable.render.number(',', '.', 1, 'L').display(amountOfWater) + ' - '  + $.fn.dataTable.render.number(',', '.', 0, ' TDS ').display(ratio);
                },
                dataSrc: 2
            }
        } );
    } );
</script>
