{% extends 'base.html.twig' %}

{% block title %}Plants{% endblock %}

{% block body %}
    <div class="alert alert-success" role="alert">
        <h5>Plant [{{ plant.name }}]</h5>
        <p class="mb-0">ID:{{ plant.id }} / Hostname:({{ plant.uniqId }})
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            uptime: {{ plant.uptime }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            resets: {{ plant.resetCounter }}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            RSSI: {{ plant.rssi }}
        </p>
    </div>
    {% apply spaceless %}
    <table class="table table-hover table-condensed tasks-table table-bordered">
        <tbody>
        <tr>
            <th>Temperature</th>
            <td><span class="badge {{ temperatureToBadge(temperature? temperature.propertyValueString | number_format : 0)}}">{{ temperature }}  &#8451;</span></td>
            <th>Medium</th>
            <td><span class="badge badge-pill badge-success">{{ plant.soilMedium }}</span></td>
            <th>CreatedAt</th>
            <td>{{ plant.createdAt ? plant.createdAt|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Humidity</th>
            <td><span class="badge {{ humidityToBadge(humidity? humidity.propertyValueString| number_format : 0)}}">{{ humidity }} %</span></td>
            <th>Pot</th>
            <td><span class="badge badge-pill badge-secondary">{{ plant.pot }}</span></td>
            <th>StartedAt</th>
            <td>{{ plant.startedAt ? plant.startedAt|date('Y-m-d') : '' }} | {{ plant.startedAt ? plant.startedAt | time_diff }}</td>
        </tr>
        <tr>
            <th>Hydrometer</th>
            <td><span class="badge {{ hydrometerToBadge(hydrometer.propertyValueString| number_format)}}">{{ hydrometer }} %</span></td>
            <th>UpdatedAt</th>
            <td>{{ plant.updatedAt ? plant.updatedAt|date('d M H:i:s') : '' }} | {{ plant.updatedAt ? plant.updatedAt | time_diff }}</td>
            <th>FinishedAt</th>
            <td>{{ plant.finishedAt ? plant.finishedAt|date('Y-m-d') : '' }}</td>
        </tr>
        </tbody>
    </table>
    {% endapply %}
    <hr/>
    <canvas id="graph_container" style="width: 100%;height: 400px !important;"></canvas>

    <table style="width: 99%">
        <tr>
            <td>
                <button class="button btn btn-outline-warning btn-sm" type="button" id="toggleScale">Toggle Scale Type</button>
            </td>
            <td style="text-align: center">
                <div id="changeTime" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="width: 100%">
                    <div class="btn-group mr-2" role="group" aria-label="Time selection in day">
                        <button class="button btn btn-outline-success btn-sm" type="button" value="1">1 Hour</button>
                        <button class="button btn btn-outline-success btn-sm" type="button" value="3">3 H</button>
                        <button class="button btn btn-outline-success btn-sm" type="button" value="6">6 H</button>
                        <button class="button btn btn-outline-success btn-sm" type="button" value="12">12 H</button>
                        <button class="button btn btn-outline-success btn-sm" type="button" value="24">24 H</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Time selection">
                        <button class="button btn btn-outline-info btn-sm" type="button" value="36">36 Hours</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Time selection">
                        <button class="button btn btn-outline-dark btn-sm" type="button" value="48">2 Days</button>
                        <button class="button btn btn-outline-dark btn-sm" type="button" value="72">3 D</button>
                        <button class="button btn btn-outline-dark btn-sm" type="button" value="96">4 D</button>
                        <button class="button btn btn-outline-dark btn-sm" type="button" value="130">5 D</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Time selection">
                        <button class="button btn btn-outline-info btn-sm" type="button" value="170">1 Week</button>
                        <button class="button btn btn-outline-info btn-sm" type="button" value="340">2 W</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Time selection">
                        <button class="button btn btn-outline-primary btn-sm" type="button" value="731">1 Month</button>
                        <button class="button btn btn-outline-primary btn-sm" type="button" value="1461">2 M</button>
                        <button class="button btn btn-outline-primary btn-sm" type="button" value="2191">3 M</button>
                        <button class="button btn btn-outline-primary btn-sm" type="button" value="2921">4 M</button>
                        <button class="button btn btn-outline-primary btn-sm" type="button" value="4381">6 M</button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Time selection">
                        <button class="button btn btn-outline-info btn-sm" type="button" value="8761">1 Y</button>
                    </div>
                </div>
            </td>
            <td style="text-align: right;">
                <a href="{{ path('event_new') }}">Create new Event</a>
            </td>
        </tr>
    </table>
    <script>
        var scaleType = 'linear';
        window.onload = function() {
            //var ctx = $('#myChart');
            var graph_container = $('#graph_container');
            //window.myLine = new Chart(ctx, config);
            window.myLine = new Chart(graph_container, graph_config);

        };
        $( document ).ready(function() {
            $('#changeTime').on('click','button', function (evt) {
                // //-- do stuff
                // console.log(evt);
                // console.log(this);
                // console.log(this.value);
                window.location = '{{ path('plant_show', {'id': plant.id}) }}/hours/' + this.value;
            });
        });

        var color = Chart.helpers.color;
        function CustomOnClickAction(e, legendItem) {
            var index = legendItem.datasetIndex;
            var ci = this.chart;
            var meta = ci.getDatasetMeta(index);
            // See controller.isDatasetVisible comment
            meta.hidden = meta.hidden === null ? !ci.data.datasets[index].hidden : null;
            // We hid a dataset ... rerender the chart
            ci.update();
        }
        var graph_config = {
            type: 'line',
            data: {
                datasets: [
                    {% for id, sensor in sensorsObj %}
                    {% set type = sensor.eventType | parseType %}
                    {% set color = 'window.chartColors.red' %}
                    {% if type == 'Humidity' %}{% set color = 'window.chartColors.yellow' %}{% endif %}
                    {% if type == 'Temperature' %}{% set color = 'window.chartColors.blue' %}{% endif %}
                    {% if type == 'SoilHydrometer' %}{% set color = 'window.chartColors.green' %}{% endif %}
                    {% if type == 'Event' %}{% set color = 'window.chartColors.purple' %}{% endif %}
                    {% if sensor.plant.id != plant.id %}{% set color = 'window.chartColors.grey' %}{% endif %}
                    {
                        sensorId: {{ id }},
                        sensorType: '{{ type }}',
                        sensorName: '{{ sensor.name}}',
                        label: '{{ sensor.name }}',
                        backgroundColor: color({{ color }}).alpha(0.25).rgbString(),
                        borderColor: {{ color }},
                        fill: {{ type == 'Humidity' ? 'true' : 'false' }},
                        lineTension: 0,
                        {% if sensor.plant.id != plant.id %}
                        borderWidth: 1,
                        pointRadius: 4,
                        {% else %}
                        borderWidth: 2,
                        pointRadius: 5,
                        {% endif %}
                        data:[{% for event in sensors[id] | slice(0, 10000)%}{x:'{{ event.createdAt|date('Y-m-d H:i') }}',y:{{ event.value }},},{% endfor %}],
                        //pointStyle: 'rectRot',

                        //pointBorderColor: 'rgb(0, 0, 0)'
                    },{% endfor %}
                ]
            },
            options: {
                legend: {
                    display: true,
                    position: 'right',
                    onClick: CustomOnClickAction,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)',
                        fontSize: 10,
                        fontFamily: 'Helvetica',
                        usePointStyle: true,
                        fontStyle: 'normal'
                    }
                },
                responsive: true,
                title: {
                    display: true,
                    text: '{{ plant.name }} [{{ hours }} hours]'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        display: true,
                        time: {
                            unit: 'quarter',
                            displayFormats: {
                                quarter: 'D/M H:mm'  // https://www.chartjs.org/docs/latest/axes/cartesian/time.html
                            }
                        },
                        distribution: 'linear',
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        },
                        ticks: {
                            source: 'data',  // add timeprint on bottom for each points
                            autoSkip: true,
                            major: {
                                fontStyle: 'bold',
                                fontColor: '#FF0000'
                            }
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'value'
                        }
                    }]
                },
                tooltips: {
                    intersect: false,
                    mode: 'point',
                    callbacks: {
                        label: function(tooltipItem, myData) {
                            var obj = myData.datasets[tooltipItem.datasetIndex];
                            var label = obj.label || '';
                            if (label) {
                                label += '         ';
                            }
                            label += obj['sensorType'] + ':' + parseFloat(tooltipItem.value); // .toFixed(4)
                            return label;
                        }
                    }
                }
            }
        };
        // document.getElementById('randomizeData').addEventListener('click', function() {
        //     config.data.datasets.forEach(function(dataset) {
        //         dataset.data.forEach(function(dataObj) {
        //             dataObj.y = randomScalingFactor();
        //         });
        //     });
        //     window.myLine.update();
        // });
        // document.getElementById('addData').addEventListener('click', function() {
        //     if (config.data.datasets.length > 0) {
        //         config.data.datasets[0].data.push({
        //             x: newDateString(config.data.datasets[0].data.length + 2),
        //             y: randomScalingFactor()
        //         });
        //         config.data.datasets[1].data.push({
        //             x: newDate(config.data.datasets[1].data.length + 2),
        //             y: randomScalingFactor()
        //         });
        //         window.myLine.update();
        //     }
        // });
        //
        // document.getElementById('removeData').addEventListener('click', function() {
        //     config.data.datasets.forEach(function(dataset) {
        //         dataset.data.pop();
        //     });
        //     window.myLine.update();
        // });
        document.getElementById('toggleScale').addEventListener('click', function() {
            scaleType = scaleType === 'linear' ? 'logarithmic' : 'linear';
            //window.myLine.options.title.text = 'Chart.js Line Chart - ' + scaleType;
            window.myLine.options.scales.yAxes[0] = {
                display: true,
                type: scaleType
            };
            window.myLine.update();
        });
    </script>
    <h5>Sensors {{ plant.sensors | length }}</h5>
    <hr/>
    {% apply spaceless %}
    <table class="table table-hover table-striped table-condensed tasks-table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Last Value</th>
                <th>Last Time</th>
                <th>Count</th>
                <th>TH</th>
                <th>Force sec</th>
                <th>UniqID</th>
            </tr>
        </thead>
        <tbody>
        {% for sensor in plant.sensors | slice(0, 100)%}
            {% set type = sensor.eventType | parseType  %}
            {% set _have_last = false %}
            {% set _created = '' %}
            {% if sensor.supportEvents and sensor.lastEvent is defined and sensor.lastEvent.value is defined%}
                {% set _have_last = true %}
                {% set _created = sensor.lastEvent.createdAt %}
            {% endif %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td><a href="{{ path('sensor_show', {'id': sensor.id}) }}">{{ sensor.name }}</a></td>
                <td>{{ type }}</td>
                <td>
                    {% if _have_last == true %}
                        {% set _value = sensor.lastEvent.value %}
                        {% if type == 'Humidity' %}
                            <span class="badge {{ humidityToBadge(_value)}}">{{ _value }} %</span>
                        {% elseif type == 'Temperature' %}
                            <span class="badge badge-pill {{ temperatureToBadge(_value)}}">{{ _value }} &#8451;</span>
                        {% else %}
                           {{ _value }}
                        {% endif %}
                        {% set _value3 = sensor.lastEvent.value3 %}
                        {% if _value3 is not null %}
                            <span class="badge  badge-pill badge-dark">{{ _value3 }}</span>
                            {% if type == 'Humidity' %}
                                Heat index
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                <td title="{{ _created | date('Y-m-d H:i:s')}} ">
                    {% if _have_last %}
                        {{ _created | date('H:i:s')}} | {{ _created | time_diff}} ({{ sensor.lastEvent.ip }})
                    {% endif %}
                </td>
                <td>{{ sensor.events | length }}</td>
                <td>{{ sensor.diffThreshold }}</td>
                <td>{{ sensor.writeForceEveryXseconds }}</td>
                <td>{{ sensor.uniqId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endapply %}
    <hr/>
    <h5>Events without sensor | All events count {{ plant.events | length }}</h5>
    <hr/>
    {% apply spaceless %}
    <table class="table table-hover table-striped table-condensed tasks-table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% set counter = 0 %}
        {% for event in plant.events %}
            {% if counter > 1000 %}
            {% else %}
                {% if event.sensor is none %}
                    {% set counter = counter+1 %}
                    <tr>
                        <td>{{ event.id }}</td>
                        <td><a href="{{ path('event_show', {'id': event.id}) }}" target="_blank">{{ event.name }}</a></td>
                        <td>{{ event.type | parseType }}</td>
                        <td>{{ event.value }}</td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endapply %}
    <hr/>
    <h5>Other</h5>
    <hr/>
    <a href="{{ path('plant_index') }}">back to list</a>

    <a href="{{ path('plant_edit', {'id': plant.id}) }}">edit</a>

    {#{{ include('plant/_delete_form.html.twig') }}#}
{% endblock %}
