{% extends 'base.html.twig' %}

{% block title %}Plants{% endblock %}

{% block body %}
    <h3>Plants</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plant.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ plant.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ plant.createdAt ? plant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ plant.updatedAt ? plant.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StartedAt</th>
                <td>{{ plant.startedAt ? plant.startedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FinishedAt</th>
                <td>{{ plant.finishedAt ? plant.finishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <h5>Sensors {{ plant.sensors | length }}</h5>
    <hr/>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Count</th>
                <th>TH</th>
                <th>Force sec</th>
                <th>UniqID</th>
            </tr>
        </thead>
        <tbody>
        {% set break = false %}
        {% set counter = 0 %}
        {% for sensor in plant.sensors if not break%}
            {% if counter == 100 %}
                {% set break = true %}
            {% endif %}
            {% set counter = counter+1 %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td><a href="{{ path('sensor_show', {'id': sensor.id}) }}" target="_blank">{{ sensor.name }}</a></td>
                <td>{{ sensor.eventType | parseType }}</td>
                <td>{{ sensor.events | length }}</td>
                <td>{{ sensor.diffThreshold }}</td>
                <td>{{ sensor.writeForceEveryXseconds }}</td>
                <td>{{ sensor.uniqId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    <h5>Events without sensor | All events count {{ plant.events | length }}</h5>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% set break = false %}
        {% set counter = 0 %}
        {% for event in plant.events if not break %}
            {% if counter == 100 %}
                {% set break = true %}
            {% endif %}
            {% if event.sensor is none %}
                {% set counter = counter+1 %}
            <tr>
                <td>{{ event.id }}</td>
                <td><a href="{{ path('event_show', {'id': event.id}) }}" target="_blank">{{ event.name }}</a></td>
                <td>{{ event.type | parseType }}</td>
                <td>{{ event.value }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <hr/>
    <h5>Other</h5>
    <hr/>
    <a href="{{ path('plant_index') }}">back to list</a>

    <a href="{{ path('plant_edit', {'id': plant.id}) }}">edit</a>

    {#{{ include('plant/_delete_form.html.twig') }}#}
{% endblock %}
