

<table style="width: 100%">
    <tr>
        <td>
            {{ form_start(form, {'attr': {'id': 'event_feed'}}) }}
            <div class="fertilizers_dest"></div>
            {{ form_widget(form) }}
            {{ form_widget(form.add_fertilizer, { 'label': 'Add fertilizers' }) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </td>
        <td>
            <form>
{#                <div id="TextBoxesGroup">#}
{#                    <div id="TextBoxDiv1">#}
{#                        <label>Textbox #1 :</label>#}
{#                        <input type="text" id="textbox1">#}
{#                    </div>#}
{#                    <select>#}
{#                        <option val="val">desc2</option>#}
{#                        <option val="val2">desc1</option>#}
{#                    </select>#}
{#                </div>#}
                <input type="submit" value="submit Button" id="subButton">
                <input type="button" value="Add Fertilizer" id="addFertilizer">

            </form>
        </td>
    </tr>
</table>


<script>
    var counter = 1;
    var counterSummary = 0;
    function removeFertilizerDiv(className) {
        console.log('Here');
        var obj = $("." + className).first();
        console.log(obj);
        obj.empty();
        obj.remove();
        console.log('Here 2');
        counterSummary--;
    }

    function addFertilizer(){

        if (counterSummary > 10) {
            alert("Only 10 allow");
            return false;
        }
        var new_obj = $(".fertilizers").first().clone();
        new_obj.attr('id', "type" + counter);
        ;
        var str_id = "FertilizerDiv_" + counter;
        var str_type = "FertilizerType[]";// + counter;
        var str_value = "FertilizerAmount[]";// + counter;
        new_obj.attr('name', str_type)
        console.log(new_obj);
        $(".fertilizers_dest").append('<div class="' + str_id + '">'+
            counter +
            '</div>');

        $("." + str_id).append(new_obj);
        $("." + str_id).append(
            '<input type="text" name="' + str_value + '" id="val' + counter + '" value="1" />' +
            '<input type="button" class="deleteFertilizer" id="deleteFertilizer' + counter + '" value="Delete" onclick="removeFertilizerDiv(\'' + str_id + '\')"/>'
        );

        // var newTextBoxDiv = $(document.createElement('div')).attr("id", 'TextBoxDiv' + counter);
        // newTextBoxDiv.after().html('<label>Select #' + counter + ' : </label>' +
        //     '<select id="select' + counter + '" ><option value="' + "val" + ' ">"' + "desc2" + '"</option><option value="' + "val2" + ' ">"' + "desc" + '"</option><option value="' + "val3" + ' ">"' + "desc3" + '"</option>');
        //
        // newTextBoxDiv.appendTo("#TextBoxesGroup");
        counter++;
        counterSummary++;
    }

    $(document).ready(function () {




        $("#addFertilizer").click(function () {
            addFertilizer();
        });
        {% set counter = 0 %}
        {% for ferti in event_feed.fertilizers %}
        {% set counter = counter + 1 %}
        addFertilizer();
        var str_atr = '#type{{ counter }} option[value={{ ferti.id }}]';
        var str_val_atr = '#val{{ counter }}';
        console.log(str_atr);
        $(str_atr).attr('selected','selected');
        $(str_val_atr).val('{{ ferti.amount }}');
        {% endfor %}

        //adding hidden inputs
        $('#myFORM').on('submit', function(){

            $('#myFORM select').each(function(){
                slct = $('<input type="hidden" name="mySelect[]" value="' +  $(this).val() +'">');
                $('#myFORM').append(slct);
            });

        });
    });
</script>
