
<style>
    textarea{
        width: 400px !important;
    }
    input[type="text"] {
        width: 400px !important;
    }

    #event_feed_createdAt_time, #event_feed_createdAt_date{
        display:inline;
    }
</style>
<table style="width: 100%">
    <tr>
        <td>
            {{ form_start(form, {'attr': {'id': 'event_feed'}}) }}
            <div class="fertilizers_dest"></div>

            <br/>
            <table class="table" style="width: 100%">
                <tr>
                    <td>{{ form_label(form.plant, 'Select plant') }}</td>
                    <td style="width: 40%;">{{ form_widget(form.plant) }}</td>
                    <td>{{ form_help(form.plant) }}</td>
                    <td style="width: 40%;">{{ form_errors(form.plant) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.water, 'Amount of water') }}</td>
                    <td>{{ form_widget(form.water) }}</td>
                    <td>{{ form_help(form.water) }}</td>
                    <td>{{ form_errors(form.water) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.ph) }}</td>
                    <td>{{ form_widget(form.ph) }}</td>
                    <td>{{ form_help(form.ph) }}</td>
                    <td>{{ form_errors(form.ph) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.tds, 'TDS') }}</td>
                    <td>{{ form_widget(form.tds) }}</td>
                    <td>{{ form_help(form.tds) }}</td>
                    <td>{{ form_errors(form.tds) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.ec, 'EC') }}</td>
                    <td>{{ form_widget(form.ec) }}</td>
                    <td>{{ form_help(form.ec) }}</td>
                    <td>{{ form_errors(form.ec) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.temperature) }}</td>
                    <td>{{ form_widget(form.temperature) }}</td>
                    <td>{{ form_help(form.temperature) }}</td>
                    <td>{{ form_errors(form.temperature) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.createdAt) }}</td>
                    <td>{{ form_widget(form.createdAt) }}</td>
                    <td>{{ form_help(form.createdAt) }}</td>
                    <td>{{ form_errors(form.createdAt) }}</td>
                </tr>

                <tr>
                    <td>{{ form_label(form.name) }}</td>
                    <td>{{ form_widget(form.name) }}</td>
                    <td>{{ form_help(form.name) }}</td>
                    <td>{{ form_errors(form.name) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.note) }}</td>
                    <td>{{ form_widget(form.note) }}</td>
                    <td>{{ form_help(form.note) }}</td>
                    <td>{{ form_errors(form.note) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.value1) }}</td>
                    <td>{{ form_widget(form.value1) }}</td>
                    <td>{{ form_help(form.value1) }}</td>
                    <td>{{ form_errors(form.value1) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.value2) }}</td>
                    <td>{{ form_widget(form.value2) }}</td>
                    <td>{{ form_help(form.value2) }}</td>
                    <td>{{ form_errors(form.value2) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(form.value3) }}</td>
                    <td>{{ form_widget(form.value3) }}</td>
                    <td>{{ form_help(form.value3) }}</td>
                    <td>{{ form_errors(form.value3) }}</td>
                </tr>
            </table>
            {{ form_widget(form) }}
            {#{{ form_widget(form.add_fertilizer, { 'label': 'Add fertilizers' }) }}#}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </td>
        <td>
            <form>
{#                <div id="TextBoxesGroup">#}
{#                    <div id="TextBoxDiv1">#}
{#                        <label>Textbox #1 :</label>#}
{#                        <input type="text" id="textbox1">#}
{#                    </div>#}
{#                    <select>#}
{#                        <option val="val">desc2</option>#}
{#                        <option val="val2">desc1</option>#}
{#                    </select>#}
{#                </div>#}
                {#<input type="submit" value="submit Button" id="subButton">#}
                <input type="button" value="Add Fertilizer" id="addFertilizer">

            </form>
        </td>
    </tr>
</table>


<script>
    var counter = 1;
    var counterSummary = 0;
    function removeFertilizerDiv(className) {
        var obj = $("." + className).first();
        obj.empty();
        obj.remove();
        counterSummary--;
    }

    function addFertilizer(){

        if (counterSummary > 10) {
            alert("Only 10 allow");
            return false;
        }
        var new_obj = $(".fertilizers").first().clone();
        new_obj.attr('id', "type" + counter);
        new_obj.show();
        var str_id = "FertilizerDiv_" + counter;
        var str_type = "FertilizerType[]";// + counter;
        var str_value = "FertilizerAmount[]";// + counter;
        new_obj.attr('name', str_type)
        $(".fertilizers_dest").append('<div class="' + str_id + '">'+
            counter +
            '</div>');

        $("." + str_id).append(new_obj);
        $("." + str_id).append(
            '<input type="text" name="' + str_value + '" id="val' + counter + '" value="1" />' +
            '<input type="button" class="deleteFertilizer" id="deleteFertilizer' + counter + '" value="Delete" onclick="removeFertilizerDiv(\'' + str_id + '\')"/>'
        );

        counter++;
        counterSummary++;
    }

    $(document).ready(function () {
        $("#event_feed_fertilizers").hide();
        $("#addFertilizer").click(function () {
            addFertilizer();

        });
        var selectObjectKey, str_atr, str_val_atr;
        {% set counter = 0 %}
        {% for ferti in event_feed.fertilizers %}
            {% set counter = counter + 1 %}
            addFertilizer();
            str_atr = '#type{{ counter }} option[value={{ ferti.fertilizer.id }}]';
            str_val_atr = '#val{{ counter }}';
            $(str_atr).attr('selected','selected');
            $(str_val_atr).val('{{ ferti.amount }}');
        {% endfor %}

        //adding hidden inputs
        $('#myFORM').on('submit', function(){

            $('#myFORM select').each(function(){
                slct = $('<input type="hidden" name="mySelect[]" value="' +  $(this).val() +'">');
                $('#myFORM').append(slct);
            });

        });
    });
</script>
