{% extends 'base.html.twig' %}

{% block title %}EventFeed{% endblock %}

{% block body %}
    <h4>Feed</h4>

    <table class="table table-hover table-striped table-condensed tasks-table table-bordered">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ event_feed.id }} - [{{ event_feed.name }}]</td>
            </tr>
            <tr>
                <th>Amount of water</th>
                <td>{{ event_feed.water }}</td>
            </tr>
            <tr>
                <th>Ph</th>
                <td>{{ event_feed.ph }}</td>
            </tr>
            <tr>
                <th>TDS / EC</th>
                <td>{{ event_feed.tds }} / {{ event_feed.ec }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ event_feed.temperature }}</td>
            </tr>
            <tr>
                <th>Fertilizers</th>
                <td>
                    {% for ferti in event_feed.fertilizers %}
                        {{ ferti }} <br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Created / Updated</th>
                <td>{{ event_feed.createdAt ? event_feed.createdAt|date('Y-m-d H:i:s') : '' }} / {{ event_feed.updatedAt ? event_feed.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ event_feed.type }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ event_feed.value }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ event_feed.note }}</td>
            </tr>
            <tr>
                <th>Value1 / Value2 / Value3</th>
                <td>[{{ event_feed.value1 }}] / [{{ event_feed.value2 }}] / [{{ event_feed.value3 }}]</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ event_feed.ip }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('events_event_feed_index') }}">back to list</a> &nbsp;&nbsp;&nbsp;

    <a href="{{ path('events_event_feed_edit', {'id': event_feed.id}) }}">edit</a>

    {{ include('events/event_feed/_delete_form.html.twig') }}
{% endblock %}
