{% extends 'base.html.twig' %}

{% block title %}Fertilizers{% endblock %}

{% block body %}
    <h5>Fertilizers</h5>

    <table class="table table-hover table-striped table-condensed tasks-table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th style="width: 25px;">N</th>
                <th style="width: 25px;">P</th>
                <th style="width: 25px;">K</th>
                <th>A</th>
                <th>Company</th>
                <th>Dose</th>
                <th>Content</th>
                <th>Url1</th>
                <th>Url2</th>
                <th>Url3</th>
                <th>Price</th>
                <th>Target</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fertilizer in fertilizers %}
            <tr>
                <td><a href="{{ path('fertilizer_show', {'id': fertilizer.id}) }}">{{ fertilizer.id }}</a></td>
                <td><a href="{{ path('fertilizer_show', {'id': fertilizer.id}) }}">{{ fertilizer.name }}</a></td>
                <td style="text-align: right;"><strong>{{ fertilizer.N }}</strong></td>
                <td style="text-align: right;"><strong>{{ fertilizer.P }}</strong></td>
                <td style="text-align: right;"><strong>{{ fertilizer.K }}</strong></td>
                <td class="font12">{{ fertilizer.additionalElements | nl2br }}</td>
                <td class="font10">{{ fertilizer.company }}</td>
                <td class="font10">{{ fertilizer.dose }}</td>
                <td class="font10">{{ fertilizer.content }}</td>
                <td class="font8">{{ fertilizer.url1 }}</td>
                <td class="font8">{{ fertilizer.url2 }}</td>
                <td class="font8">{{ fertilizer.url3 }}</td>
                <td class="font9">{{ fertilizer.price }}</td>
                <td class="font8">{{ fertilizer.target }}</td>
                <td>

                    <a href="{{ path('fertilizer_edit', {'id': fertilizer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fertilizer_new') }}">Create new</a>
{% endblock %}
